
/* * {
  border: 1px solid red;
} */

.table-head {
  color: rgb(79, 89, 102);
}

.table-row:hover {
  background-color: #fbfafa;
}

.table-row th {
  cursor: pointer;
}

.form-control {
  background-color: rgba(145, 158, 171, 0.05);
  border: 1px solid #e1dfdf;
}

.form-floating {
  width: 52%;
}

.dropdown-menu {
  height: 600px;
  min-width: 384px;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
}

.btn-add {
  background-color: rgb(4, 214, 4);
  border: none;
  border-radius: 4px;
  font-size: smaller;
  padding: 4px 8px;
}

.btn-delete {
  background-color: rgb(217, 15, 15);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: smaller;
  padding: 4px 8px;
  z-index: 1;
}

.btn-interval {
  background-color: #fff;
  /* border: 1px solid black; */
  font-size: smaller;
  border-radius: 6px;
  padding: 4px 8px;
  margin: 4px;
}

.btn-interval:hover {
  background-color: rgba(145, 158, 171, 0.05);
}
