
* {
  font-family: 'Raleway', sans-serif;
}

html {
  background-color: #181a1d;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  background-color: #181a1d;
}

.app {
  background-color: #181a1d;
}

.table-container {
  display: flex;
  justify-content: center;
  background-color: #181a1d;
}

.table {
  width: 96%;
  background-color: #181a1d !important;
  color: #e4dcdc;
}

.table-head {
  color: #ffffff;
  font-size: 1.4rem;
  padding-bottom: 20px;
}

.table-row {
  margin: 0px;
  cursor: pointer;
  font-weight: 400;
}

.text-success, .text-danger {
  width: 150px;
}

.stock-symbol {
  width: 100px;
}

.search-bar {
  background-color: #181a1d;
  color: #fff;
}

.form-control {
  background-color: rgba(145, 158, 171, 0.05) !important;
  border: 1px solid #4f4949;
  color: #fff !important;
}

.form-floating {
  width: 52%;
}

.dropdown-menu {
  height: 374px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
  background-color: #181a1d;
  color: #fff !important;
}

.dropdown-item {
  color: #fff;
  background-color: #181a1d;
}

.dropdown-item:hover {
  background-color: #181a1d;
  color: #fff;
  font-weight: bold;
}

.stock-title {
  cursor: pointer;
}

.btn-add {
  background-color: rgb(4, 214, 4);
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 4px 8px;
}

.display-buttons {
  width: 139px;
  display: flex;
  justify-content: end;
}

.display-action {
  width: 139px;
}

.btn-delete {
  background-color: rgb(217, 15, 15);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 4px 8px;
  z-index: 1;
}

.btn-interval {
  background-color: #fff;
  font-size: smaller;
  border-radius: 6px;
  border: none;
  padding: 4px 8px;
  margin: 4px;
}

.btn-selected {
  background-color: #0074d9;
  color: #fff;
  border: 2px solid #0074d9;
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 8px;
  margin: 4px;
}

.btn-details {
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 4px 8px;
  z-index: 1;
}

.chart-display {
  width: 90%;
}

.btn-return {
  font-size: 40px;
  color: #ffc815;
  position: absolute;
  top: 5rem;
  left: 5rem;
  cursor: pointer;
}

.data-box {
  width: 84%;
  margin: 0 auto;
  background-color: #181a1d !important;
  color: #e4dcdc;
  border-radius: 0 !important;
}

.logo-box {
  background-color: #181a1d;
}
