
* {
  border: 1px solid red;
}

.table-head {
  color: rgb(79, 89, 102);
}

.form-control {
  background-color: rgba(145, 158, 171, 0.05);
  border: 1px solid #e1dfdf;
}

.form-floating {
  width: 32%;
}
